<div class="text-center">
  <h1> Recipe of the week page</h1>
  <br/>
  
  <% if @recipes != nil %>   
    <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Submit Update', edit_recipe_path(@recipes) %></button>
    <div class="space"/>
    <div class="background-box">
      <h3><%= @recipes.name %></h3>
      <br/>
      <h4><%= "Ingredients" %></h4>
      <h5><%= @recipes.ingredients %></h5>
      <br/>
      <h4><%= "Directions" %></h4>
      <h5><%= @recipes.directions %></h5>
    </div>
  <% else %>
    <%= "There is no recipe this week.  Try back next week." %>
  <% end %>
</div>
