<div class="text-center">
<h1>Please use this form to submit a new recipe for our test kitchen.</h1>
<h4>Be sure that you have permission from the recipe author before submitting the recipe.</h4>
<h6>Again please make sure you have permission.  We aren't into plagarizing on this site.</h6>
</div>
<br/><br/>
<div class="box col-lg-6 col-lg-offset-3">
<%= simple_form_for @recipe do |f| %>
  <%= f.input :name %>
  <%= f.input :ingredients %>
  <%= f.input :directions %>
  <%= f.input :meal, collection: ["appetizers", "main course", "desserts"] %>
  <%= f.button :submit %>
<% end %>
</div>